backup/*
!backup/README.md
.DS_Store
sublime_text/Packages/User/Package Control.cache
sublime_text/Packages/User/Package Control.last-run
sublime_text/Packages/User/Package Control.merged-ca-bundle
sublime_text/Packages/User/Package Control.system-ca-bundle
sublime_text/Packages/User/Package Control.user-ca-bundle
sublime_text/Packages/User/oscrypto-ca-bundle.crt
sublime_text/Installed Packages/
